/* Styles personnalisés pour les boutons radio */
.radio-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio-input label {
  margin-right: 15px;
}

.radio-input input[type="radio"] {
  accent-color: #435dd8; /* Couleur personnalisée pour les boutons radio */
}

/* Styles pour le texte à droite des boutons radio */
.radio-input label {
  font-size: 1rem;
  color: #fff;
}

/* Changement de couleur des boutons sélectionnés */
.radio-input input[type="radio"]:checked {
  accent-color: #28a745; /* Couleur verte pour indiquer le choix sélectionné */
}
.footer {
  background-color: #371273;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  margin-top: 40px;
}

.footer p {
  margin: 0;
}


/* Media queries pour les appareils mobiles et tablettes */

/* Pour les petits téléphones (moins de 576px) */
@media (max-width: 575px) {
  body {
    font-size: 14px;
  }

  .radio-input {
    flex-direction: column;
  }

  .radio-input p {
    font-size: 14px;
  }
}

/* Pour les tablettes (de 576px à 768px) */
@media (min-width: 576px) and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .radio-input p {
    font-size: 15px;
  }
}

/* Pour les grands écrans (plus de 768px) */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }

  .radio-input p {
    font-size: 16px;
  }
}
