/* Styles personnalisés pour les boutons radio */
.radio-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio-input input[type="radio"] {
  accent-color: #435dd8; /* Couleur personnalisée */
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('image/terrain.jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}

.banner h1 {
  color: white;
  font-size: 45px;
}

.banner p {
  color: white;
  font-size: 24px;
}

.button-blue {
  background-color: #1A48E3;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.3s;
}

.button-blue:hover {
  background-color: #0D1EC6;
  color: white;
}

.footer {
  background-color: #371273;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  margin-top: 40px;
}

.footer p {
  margin: 0;
}

/* Media Queries */
@media (max-width: 575px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}
