/* Styles personnalisés pour les boutons radio */
.radio-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio-input label {
  margin-right: 15px;
}

.radio-input input[type="radio"] {
  accent-color: #435dd8; /* Couleur personnalisée pour les boutons radio */
}

/* Styles pour le texte à droite des boutons radio */
.radio-input label {
  font-size: 1rem;
  color: #fff;
}

/* Changement de couleur des boutons sélectionnés */
.radio-input input[type="radio"]:checked {
  accent-color: #28a745; /* Couleur verte pour indiquer le choix sélectionné */
}
.banner {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('image/terrain.jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}

.banner h1 {
  color: white;
  font-size: 45px;
  margin: 0;
}
.banner p {
  color: white;
  font-size: 24px;
}

.button-blue {
  background-color: #1A48E3;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
}

.button-blue:hover {
  background-color: #0D1EC6;
  color: white;
}
.footer {
  background-color: #371273;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  margin-top: 40px;
}

.footer p {
  margin: 0;
}


/* Media queries pour les appareils mobiles et tablettes */

/* Pour les petits téléphones (moins de 576px) */
@media (max-width: 575px) {
  body {
    font-size: 14px;
  }

  .radio-input {
    flex-direction: column;
  }

  .radio-input p {
    font-size: 14px;
  }
}

/* Pour les tablettes (de 576px à 768px) */
@media (min-width: 576px) and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .radio-input p {
    font-size: 15px;
  }
}

/* Pour les grands écrans (plus de 768px) */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }

  .radio-input p {
    font-size: 16px;
  }
}
